# Environment variables
.env
.env.local
.env*.local

# Python virtual environment
venv/
wenv/

# Python cache files
__pycache__/
*/__pycache__/
server/__pycache__/
server/pydantic_models/__pycache__/
*.py[cod]
*$py.class

# Vercel
.vercel